.row-fluid
  .span2
    #logo-section
      #logo-link Reader
    #lhn-add-subscription-section
      %div{:id => 'lhn-add-subscription', :class => 'btn btn-primary'} SUBSCRIBE
  .span10
    #sections-header
      section header
