#logo-section #logo-link {
    color: #dd4b39;
}

.link {
    text-decoration: none;
    color: #000;
}

#logo-section {
    padding: 6px 0;
    border-bottom: 1px solid #ebebeb;
    font-weight: normal;
    font-size: 20px;
    color: #dd4b39;
}

#sections-header {
    position: relative;
    padding: 0;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 2em;
}

#sections-header .contents {
    position: absolute;
    top: 50%;
    height: 27px;
    margin-top: -13px;
    width: 100%;
}

#lhn-add-subscription-section {
    border-bottom: 0;
    height: 57px;
}

#lhn-add-subscription {
    top: 35px;
    margin-left: 16px;
    min-width: 80px;
    margin-right: auto;
    height: 27px;
    display: block;
    position: absolute;
    top: 130px;
    margin-top: -13px;
}


#quick-add-form {
    display: block;
    margin: 8px;
}

#quick-add-instructions {
    clear: both;
    float: left;
    color: #666;
    font-size: 85%;
}

#quick-add-close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    height: 9px;
    width: 9px;
    background: url(/reader/ui/939333013-close-box.gif) no-repeat;
}

#quick-add-input-div {
    clear: both;
}

#quickadd {
    width: 220px;
    margin-right: 4px;
    float: left;
    border: solid 1px #b2b2b2;
    padding: 2px;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    margin: 0 1px;
    outline: none;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}

.goog-button-float-left {
    float: left;
}




#quick-add-bubble-holder {
    color: #000;
    position: absolute;
    width: 308px;
    z-index: 101;
    border: 1px solid #d0d0d0;
    background-color: #f7f7f7;
}

#quick-add-form {
    display: block;
    margin: 8px;
}

#quick-add-instructions {
    clear: both;
    float: left;
    color: #666;
    font-size: 85%;
}

#quick-add-close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    height: 9px;
    width: 9px;
    background: url(/images/close-box.gif) no-repeat;
}

#quick-add-input-div {
    clear: both;
}

#quickadd {
    width: 220px;
    margin-right: 4px;
    float: left;
    border: solid 1px #b2b2b2;
    padding: 2px;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    margin: 0 1px;
    outline: none;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}

.goog-button-float-left {
    float: left;
}

.goog-inline-block {
    position: relative;
    display: inline-block;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.goog-button-base-outer-box {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.goog-button-base-inner-box {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    margin: 0 -1px;
    height: 27px;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}

.goog-inline-block {
    position: relative;
    display: inline-block;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.goog-button-base-outer-box {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.goog-button-base-inner-box {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    background: #f5f5f5;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    margin: 0 -1px;
    height: 27px;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}

.goog-button-base {
    cursor: default;
    letter-spacing: normal;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    white-space: nowrap;
    word-spacing: normal;
    font-size: .85em;
    font-weight: bold;
    color: #444;
}


.goog-button-base-content {
    line-height: 1.55em;
    text-align: center;
}

.goog-button-tight .goog-button-base-content {
    line-height: 1.4em;
}

.jfk-butterBar {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0 linear 1s,opacity 1s;
    -moz-transition: all 0 linear 1s,opacity 1s;
    -o-transition: all 0 linear 1s,opacity 1s;
    transition: all 0 linear 1s,opacity 1s;
    border-style: solid;
    border-width: 0;
    font-size: 11px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    text-align: center;
}

.message-area-container {
    position: absolute;
    z-index: 10000;
    top: 0;
    text-align: center;
    left: 50%;
}

.jfk-butterBar-info {
    background-color: #f9edbe;
    border-color: #f0c36d;
    color: #333;
}

.jfk-butterBar-shown {
    -webkit-transition: opacity .218s;
    -moz-transition: opacity .218s;
    -o-transition: opacity .218s;
    transition: opacity .218s;
    border-width: 1px;
    height: 14px;
    opacity: 1;
    visibility: visible;
    padding: 6px 16px;
}

#loading-area {
    font-weight: bold;
    font-size: 12px;
}

.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

#register{
    position: absolute;
    border: 1px solid #d4d4d4;
    background-color: #e5eecc;
    top: 120px;
    left: 550px;
}

#register-form{
    margin: 20px;
}

#register-form-close{
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    height: 9px;
    width: 9px;
    background: url(/images/close-box.gif) no-repeat;
}
